<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324581800116-d6dc6k5f640f14959ng082scif58blfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324581800116-d6dc6k5f640f14959ng082scif58blfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBaVSUStLV19O5U7zqZv5FKdSiD-qA-lHY</string>
	<key>GCM_SENDER_ID</key>
	<string>324581800116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-ae45e</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-ae45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324581800116:ios:db7f5a754621b49f8dbfe1</string>
</dict>
</plist>